# Python
*.pyc
*.pyo
__pycache__

# Django
*.log
*.pot
*.pyc
db.sqlite3
media
staticfiles

# Virtual Environment

.env
myvenv/
venv/
sitenv/

# Database
db.sqlite3

# Static folder at project root
/static/

# macOS
._*
.DS_Store
.fseventsd
.Spotlight-V100

# Windows
Thumbs.db*
ehthumbs*.db
[Dd]esktop.ini
$RECYCLE.BIN/

# IDEs and Editors
.vscode/
.idea/
.history/cls
*.code-workspace


"""A .gitignore file is used to specify intentionally untracked files that Git should ignore. 
For a Django project, there are several files and directories that you typically want to exclude 
from version control. Here's a basic .gitignore file for a Django project:
Let's go over what each entry means:

*.pyc, *.pyo, __pycache__: Compiled Python files and Python bytecode cache files.
*.log: Django log files.
*.pot: Translations template files.
db.sqlite3: SQLite database file (if you're using SQLite).
media: Directory where user-uploaded media files are stored.
staticfiles: Directory where static files are collected.
venv/: Virtual environment directory.
.env: Environment variable files.
.vscode/, .idea/: Configuration directories for Visual Studio Code and JetBrains IDEs respectively.
.DS_Store: macOS system files.
Thumbs.db: Windows thumbnail cache files.
Feel free to modify the .gitignore file based on your project's specific requirements. 
For example, if you're using a different database backend or if you have additional directories 
that you want to exclude from version control, you can add or remove entries accordingly.
"""



